* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: linear-gradient(0, 0, 0, 0.7);
  background-image: url("https://images.pexels.com/photos/36487/above-adventure-aerial-air.jpg?auto=compress&cs=tinysrgb&w=100%");
}

.card {
  width: 90%;
  max-width: 470px;
  background: linear-gradient(135deg, #00feba, #5b548a);
  color: #fff;
  margin: 50px auto 0;
  border-radius: 20px;
  text-align: center;
  padding: 30px 20px;
  margin-bottom: 100px;
  background: transparent;
  background: #000000;
}

.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search input {
  border: 0;
  outline: 0;
  background: #ebfffc;
  color: #555;
  padding: 10px 25px;
  height: 60px;
  border-radius: 30px;
  flex: 1;
  margin-right: 16px;
  font-size: 18px;
}

.search button {
  border: 0;
  outline: 0;
  background: #ebfffc;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.weather-icon {
  height: 160px;
  width: 170px;
  margin-top: 5px;
}

.weather h1 {
  font-size: 40px;
  font-weight: 500;
}

.weather h2 {
  font-size: 45px;
  font-weight: 400;
  margin-top: -10px;
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 50px;
}

.png2 {
  height: 60px;
  width: 50px;
}

.png3 {
  height: 60px;
  width: 50px;
}

.col {
  display: flex;
  align-items: center;
  text-align: left;
}

.col img {
  width: 80px;
  margin-right: 10px;
}

.humidity,
.wind {
  font-size: 30px;
  margin-top: -6px;
}
